@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


h1, h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  margin-right: 10px;
  padding: 8px 16px;
  background-color: #0070f3;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #005bb5;
}

div {
  margin: 16px 0;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tabs button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tabs button.active {
  background-color: #0070f3;
  color: white;
  border-color: #0070f3;
}

.tabs button:hover {
  background-color: #e0e0e0;
  border-color: #0070f3;
}

.tab-content {
  display: none; /* Initially hidden */
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tab-content.active {
  display: block; /* Show only the active tab's content */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}